<script id="ManagerClinicByClinic-template" type="text/x-handlebars-template">
	<table class="table table-condensed table-border table-hover table-striped">
		<tbody>
			{{#each []}}
			<tr data-manager-id="{{ManagerGuid}}" data-clinic-id="{{ClinicGuid}}">
				<td class="col-xs-10">
					{{Name}}
				</td>
				<td class="col-xs-2">
					<button class="btn btn-sm btn-danger manipulate" data-type="delete-clinic-manager"><i class="icon-minus"></i> حذف</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<br />
	<hr />
	<form role="form" action="ManagerClinicAdd" data-next="toast">
		<h4>افزودن منشی جدید</h4>
		<input type="hidden" name="ClinicGuid" value="" />
		<div class="form-group">
			{{{managersSelect}}}
		<div>
		<br />
		<button type="submit" class="btn btn-primary">ثبت</button>
	</form>
</script>