<script id="ManagerClinicByManager_shifts-template" type="text/x-handlebars-template">
<div class="itemlist-header">
	<h2>شیفت‌ها</h2>
	<ul class="header-icons list-unstyled">
		<li><button class="btn btn-primary manipulate" data-type="add"><i class="icon-plus"></i> مورد جدید</button></li>
		<li><button class="btn btn-primary manipulate" data-type="add-monthly" data-toggle="modal" data-target="#monthly-add"><i class="icon-plus"></i> ثبت ماهانه</button></li>
	</ul>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-lg-2">
		<div class="row">
			<div class="col-xs-12 col-sm-1 col-lg-12">
				<label>روز شروع</label>
			</div>
			<div class="col-xs-12 col-sm-4 col-lg-12">
				<div class="form-group">
					<input type="text" class="form-control datepicker get-url" data-part="1" name="start-time-select" value="" />
				</div>
			</div>
			<div class="col-xs-12 col-sm-1 col-lg-12">
				<label>روز پایان</label>
			</div>
			<div class="col-xs-12 col-sm-4 col-lg-12">
				<div class="form-group">
					<input type="text" class="form-control datepicker get-url" data-part="2" data-offset="7" name="end-time-select" value="" />
				</div>
			</div>
			<div class="col-xs-12 col-sm-2 col-lg-12">
				<button class="btn btn-warning show-records" onClick="location.href='#shifts/' + $('input[name=start-time-select]').val() + '/' + $('input[name=end-time-select]').val();">نمایش</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-12 col-lg-10">
		{{#pageHasId}}
			<div id="place-inner" class="load-data" data-service="FreeTimeGetByClinicAndDate" data-template="FreeTimeGetByClinicAndDate"
					data-params='{"ClinicGuid":{token.clinic},"StartDate":"{{#getDate 1 0}}{{/getDate}}","EndDate":"{{#getDate 2 7}}{{/getDate}}"}'></div>
		{{/pageHasId}}
	</div>
</div>
<div class="modal zoom fade" id="users-add" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<button type="button" class="btn btn-sm btn-warning manipulate pull-left" data-type="edit"><i class="icon-edit"></i> ویرایش</button>
				<h4 class="modal-title">مورد جدید</h4>
			</div>
			<form class="shift-add-form form-horizontal" role="form" action="FreeTimeAdd" data-service-add="FreeTimeAdd" data-service-edit="FreeTimeUpdate" data-next="toast">
				<input type="hidden" name="Guid" value="" />
				<input type="hidden" name="ClinicGuid" value="{{#getToken}}{{/getToken}}" />
				<div class="modal-body">
					<div class="form-group">
						<label for="shift-state-select" class="col-sm-2 control-label">وضعیت</label>
						<div class="col-sm-10">
							<select name="State" class="form-control simple rtl" id="shift-state-select" required>
								<option value="0">نرمال</option>
								<option value="1">قفل شده</option>
								<option value="2">حذف شده</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="shift-starttime-input" class="col-sm-2 control-label">ساعت شروع</label>
						<div class="col-sm-10">
							<input type="hidden" name="StartTime" id="dpicker-1" value="" required />
							<input type="text" name="StartTimePicker" class="form-control datetimepicker no-edit" data-chain="#dpicker-1" id="shift-starttime-input" placeholder="ساعت شروع" required />
						</div>
					</div>
					<div class="form-group">
						<label for="shift-endtime-input" class="col-sm-2 control-label">ساعت پایان</label>
						<div class="col-sm-10">
							<input type="hidden" name="EndTime" id="dpicker-2" value="" required />
							<input type="text" name="EndTimePicker" class="form-control datetimepicker no-edit" data-chain="#dpicker-2" id="shift-endtime-input" placeholder="ساعت پایان" required />
						</div>
					</div>
					<div class="form-group">
						<label for="shift-desc-textarea" class="col-sm-2 control-label">توضیحات</label>
						<div class="col-sm-10">
							<textarea name="Descr" class="form-control rtl" id="shift-desc-textarea" placeholder="توضیحات"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">ثبت</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal zoom fade" id="monthly-add" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">ثبت ماهانه</h4>
			</div>
			<form class="shift-add-form form-horizontal batch" role="form" action="FreeTimeAdd" data-service-add="FreeTimeAdd" data-service-edit="FreeTimeUpdate" data-next="toast">
				<div class="modal-body">
					<input type="hidden" name="Guid" value="" />
					<input type="hidden" name="ClinicGuid" value="{{#getToken}}{{/getToken}}" />
					<div class="form-group">
						<label for="shift-state-select" class="col-sm-2 control-label">وضعیت</label>
						<div class="col-sm-10">
							<select name="State" class="form-control simple rtl" id="shift-state-select" required>
								<option value="0">نرمال</option>
								<option value="1">قفل شده</option>
								<option value="2">حذف شده</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-6">
							<div class="open-datepicker"></div>
						</div>
						<div class="col-xs-6">
							<div class="datelist">
								<ul class="list-unstyled"></ul>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="shift-starttime-input" class="col-sm-2 control-label">ساعت شروع</label>
						<div class="col-sm-4">
							<input type="hidden" name="StartTime" id="tpicker-1" value="" required />
							<input type="text" value="00:00" name="StartTimePicker" class="form-control timepicker no-edit" data-chain="#tpicker-1" id="shift-starttime-input" placeholder="ساعت شروع" required />
						</div>
						<label for="shift-endtime-input" class="col-sm-2 control-label">ساعت پایان</label>
						<div class="col-sm-4">
							<input type="hidden" name="EndTime" id="tpicker-2" value="" required />
							<input type="text" value="00:00" name="EndTimePicker" class="form-control timepicker no-edit" data-chain="#tpicker-2" id="shift-endtime-input" placeholder="ساعت پایان" required />
						</div>
					</div>
					<div class="form-group">
						<label for="shift-desc-textarea" class="col-sm-2 control-label">توضیحات</label>
						<div class="col-sm-10">
							<textarea name="Descr" class="form-control rtl" id="shift-desc-textarea" placeholder="توضیحات"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">ثبت</button>
				</div>
			</form>
		</div>
	</div>
</div>
</script>