<script id="ManagerClinicByManager_visits-template" type="text/x-handlebars-template">
<div class="row">
	<div class="col-xs-2">
		<label>انتخاب مطب</label>
	</div>
	<div class="col-xs-10">
		<select class="form-control rtl" onChange="window.location = '#visits/' + $(this).val();">
			{{#selectByPageId}}
				<option value="">انتخاب مطب</option>
				{{#each []}}
				<option value="{{ClinicGuid}}">{{ClinicName}} - {{DoctorName}}</option>
				{{/each}}
			{{/selectByPageId}}
		</select>
	</div>
</div>
{{#pageHasId}}
<div id="place-inner" data-service="VisitGetByClinic" data-template="VisitGetByClinic" data-params='{"ClinicGuid":"{{#id}}{{/id}}"}'></div>
{{/pageHasId}}
</script>