<script id="ReserveTimeGetByFreeTime-template" type="text/x-handlebars-template">
<div class="itemlist-header">
	<h2>رزروها</h2>
</div>
<table class="table table-bordered table-hover table-striped table-condensed rtl">
	<thead>
		<th class="col-xs-2">کاربر</th>
		<th class="col-xs-2">نوع ویزیت</th>
		<th class="col-xs-2">مدیر</th>
		<th class="col-xs-2">زمان شروع</th>
		<th class="col-xs-2">زمان پایین</th>
		<th class="col-xs-2">وضعیت</th>
	</thead>
	<tbody>
		{{#each []}}
        <tr data-id="{{Guid}}">
            <td>
				{{UserGuid}}
				<textarea class="raw" style="display: none">{{#stringify raw}}{{/stringify}}</textarea>
			</td>
            <td>{{VisitGuid}}</td>
            <td>{{ManagerGuid}}</td>
            <td>{{StartTime}}</td>
            <td>{{EndTime}}</td>
            <td>{{State}}</td>
        </tr>
		{{/each}}
    </tbody>
</table>
</script>