<script id="VisitGetByClinic-template" type="text/x-handlebars-template">
<div class="itemlist-header">
	<h2>ویزیت‌ها</h2>
	<ul class="header-icons list-unstyled">
		<li>
			<button class="btn btn-primary manipulate" data-type="add"><i class="icon-plus"></i> مورد جدید</button>
		</li>
	</ul>
</div>
<table class="table table-bordered table-hover table-striped table-condensed rtl">
	<thead>
		<th class="col-xs-2">تخصص</th>
		<th class="col-xs-2">نام</th>
		<th class="col-xs-2">مدت زمان</th>
		<th class="col-xs-2">هزینه با بیمه</th>
		<th class="col-xs-2">هزینه بدون بیمه</th>
		<th class="col-xs-2"></th>
	</thead>
	<tbody>
		{{#each []}}
        <tr data-id="{{Guid}}">
            <td>
				{{ExpertName}}
				<textarea class="raw" style="display: none">{{#stringify raw}}{{/stringify}}</textarea>
			</td>
            <td>{{Name}}</td>
            <td>{{TimeInSecond}}</td>
            <td>{{CostWithInsurance}}</td>
            <td>{{CostWithoutInsurance}}</td>
			<td>
				<ul class="list-inline list-unstyled text-center">
					<li><button class="btn btn-sm btn-success manipulate" data-type="view"><i class="icon-search"></i> مشاهده </button></li>
					<li><button class="btn btn-sm btn-danger manipulate" data-type="delete"><i class="icon-minus"></i> حذف</button></li>
				</ul>
			</td>
        </tr>
		{{/each}}
    </tbody>
</table>
<div class="modal zoom fade" id="users-add" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<button type="button" class="btn btn-sm btn-warning manipulate pull-left" data-type="edit"><i class="icon-edit"></i> ویرایش</button>
				<h4 class="modal-title">مورد جدید</h4>
			</div>
			<form class="visit-add-form form-horizontal" role="form" action="VisitAdd" data-service-add="VisitAdd" data-service-edit="VisitUpdate" data-service-delete="VisitRemove" data-next="toast">
				<input type="hidden" name="Guid" value="" />
				<input type="hidden" name="ClinicGuid" value="{{#id}}{{/id}}" />
				<div class="modal-body">
					<div class="form-group">
						<label for="visit-expertid-input" class="col-sm-2 control-label">تخصص</label>
						<div class="col-sm-10">
							<input type="text" name="ExpertId" class="form-control" id="visit-expertid-input" placeholder="تخصص" required />
						</div>
					</div>
					<div class="form-group">
						<label for="visit-name-input" class="col-sm-2 control-label">نام</label>
						<div class="col-sm-10">
							<input type="text" name="Name" class="form-control rtl" id="visit-name-input" placeholder="نام" required />
						</div>
					</div>
					<div class="form-group">
						<label for="visit-time-input" class="col-sm-2 control-label">مدت زمان</label>
						<div class="col-sm-10">
							<input type="text" name="TimeInSecond" class="form-control" id="visit-time-input" placeholder="مدت زمان" required />
						</div>
					</div>
					<div class="form-group">
						<label for="visit-cost-input" class="col-sm-2 control-label">هزینه با بیمه</label>
						<div class="col-sm-10">
							<input type="text" name="CostWithInsurance" class="form-control" id="visit-cost-input" placeholder="هزینه با بیمه" required />
						</div>
					</div>
					<div class="form-group">
						<label for="visit-cost2-input" class="col-sm-2 control-label">هزینه بدون بیمه</label>
						<div class="col-sm-10">
							<input type="text" name="CostWithoutInsurance" class="form-control" id="visit-cost2-input" placeholder="هزینه بدون بیمه" required />
						</div>
					</div>
					<div class="form-group">
						<label for="visit-desc-textarea" class="col-sm-2 control-label">توضیحات</label>
						<div class="col-sm-10">
							<textarea name="Descr" class="form-control rtl" id="visit-desc-textarea" placeholder="توضیحات" required></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">ثبت</button>
				</div>
			</form>
		</div>
	</div>
</div>
</script>