@media (min-width: @screen-md-max) {
    .app-container .mainbody .app-main {
        .app-inner {
            .table {
                .btn {
                    i { display: inline-block !important; }
                }
            }
        }
    }
}
@media (max-width: @screen-md-max) {
    .app-container {
        .app-inner {
            .table {
                figure { max-width: 60px; overflow: hidden; }
            }
        }
    }
}
@media (max-width: @screen-sm-max) {
    .modal-dialog { width: 100% !important; }
    .app-header {
        .title { display: none; }
        .icon { float: right; }
    }
    .app-container {
        .user-menu { width: 220px; }
        .sidebar {
            position: relative; width: 100%; height: 150px; overflow: hidden;
            .app-menu ul { padding: 0; }
        }
        .app-inner {
            padding-top: 100px !important;
            .table {
                figure { max-width: 50px; }
                .btn {
                    i { display: none; }
                    padding: 5px 6px; margin-bottom: 5px;
                }
                tbody tr td:last-child { padding: 5px 0; }
            }
        }
        .app-main {
            padding-right: 0 !important;
        }
    }
}
@media (max-width: @screen-xs-max) {

}